@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.headertop{
    display: flex;
    justify-content: space-between;
    background-color: #2d3e50;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 100px;
    padding-right: 100px;
}
.email p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: white;
    font-weight: 400;
}
.email i {
	color: #f1b705;
	margin-right: 20px;
	position: relative;
	top: 7px;
}
.phone p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: white;
    font-weight: 400;
}
nav{
    margin-right: 100px;
    margin-left: 100px;
}
nav ul li a {
	font-family: 'Open Sans', sans-serif;
	color: #252c30;
	font-size: 16px;
	font-weight: 700;
	margin-right: 38px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #ffc000;
}
.carousel-indicators [data-bs-target]{
    background-color: #f1b705;
}
.navbar-brand{
    margin-left: 95px;
}
.phone p {
	margin-right: -45px;
}
#italic{
    font-size: 23px;
	color: #000000;
}
.fa-solid, .fas {
	font-size: 30px;
	color: #f1b705;
}
.carousel-indicators [data-bs-target] {
	width: 30px;
	height: 5px;
	color: #f1b705;
	margin-right: 15px;
}
.carousel-caption{
    margin-bottom: 190px;
}
.carousel-caption h2{
    font-size: 72px;
    color: #ffffff
    font-weight: 700;
    
}
.carousel-caption h2 span{
    color: #ffc000
}
.carousel-caption p{
    width: 650px;
    height: 48px;
    text-align: center;
    margin: auto;
    font-size: 16px;
    color: #ffffff
    font-weight: 700;
}
.carousel-caption a{
    width: 275px;
    height: 65px;
    text-align: center;
    margin: auto;
    font-size: 16px;
    background-color: #f1b705;
    font-weight: 700;
    border-radius: 30px;
    display: inline-block;
    color: white;
    text-decoration: none;
    line-height: 60px;
    margin-top: 65px;
}
.carousel-caption a:hover{
    background-color: #ebebeb;
    border: 3px solid #f1b705;
    color: black;
    transition: .4s;
}
.section2 .weoffer{
    max-width: 780px;
    height: auto;
    margin: auto;
    text-align: center;
    margin-top: 120px;
}
.section2 .weoffer h5{
    font-size: 18px;
    color: #232323;
    font-weight: 400;

}
.section2 .weoffer h4{
    font-size: 36px;
    color: #252c30;
    font-weight: 700;
    margin-bottom: 35px;
}
.section2 .weoffer h4 span{
    color: #f1b705;
}
.section2 .weoffer p{
    font-size: 18px;
    color: #232323;
    font-weight: 400;
}
.planning{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.planning .div1 .logo img{
    margin: auto;
    display: block;
    padding-top: 60px;
    padding-bottom: 40px;
}
.planning .div1 .lorem{
    margin: auto;
    text-align: center;
}

.planning .div1 .lorem h5{
    font-size: 18px;
    color: #fff;
    font-weight: 700;
}
.planning .div1 .lorem p{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 17px;
    line-height: 30px;
}
.planning .div1{
    width: 255px;
    height: 380px;
    background-color: #2d3e50;
    margin: auto;
    margin-right: 15px;
}
.planning .div1:hover{
    background-color: white;
    color: black;
    border:  2px #ffc000 solid;
}
.planning .div2{
    width: 255px;
    height: 380px;
    background-color: #2d3e50;
    margin: auto;
    margin-right: 15px;
}
.planning .div2 .logo img{
    margin: auto;
    display: block;
    padding-top: 60px;
    padding-bottom: 40px;
}
.planning .div2 .lorem{
    margin: auto;
    text-align: center;
}
.planning .div2 .lorem h5{
    font-size: 18px;
    color: #fff;
    font-weight: 700;
}
.planning .div2 .lorem p{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 17px;
    line-height: 30px;
}
.planning .div3{
    width: 255px;
    height: 380px;
    background-color: #2d3e50;
    margin: auto;
    margin-right: 15px;
}
.planning .div3 .logo img{
    margin: auto;
    display: block;
    padding-top: 60px;
    padding-bottom: 40px;
}
.planning .div3 .lorem{
    margin: auto;
    text-align: center;
}
.planning .div3 .lorem h5{
    font-size: 18px;
    color: #fff;
    font-weight: 700;
}
.planning .div3 .lorem p{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 17px;
    line-height: 30px;
}
.planning .div4{
    width: 255px;
    height: 380px;
    background-color: #2d3e50;
    margin: auto;
    margin-right: 15px;
}
.planning .div4 .logo img{
    margin: auto;
    display: block;
    padding-top: 60px;
    padding-bottom: 40px;
}
.planning .div4 .lorem{
    margin: auto;
    text-align: center;
}
.planning .div4 .lorem h5{
    font-size: 18px;
    color: #fff;
    font-weight: 700;
}
.planning .div4 .lorem p{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 17px;
    line-height: 30px;
}
.section2 .planning{
    margin-top: 60px;
    margin-bottom: 120px;
}
.row{
    margin-top: 120px;
    margin-bottom: 120px;
    margin-right: 35px;

}
.ourservice{
    margin-left: 60px;
}
.ourservice .s1 {
	margin-bottom: 45px;
}
.ourservice .s2, .s3, .s4{
    display: flex;
}
.ourservice .s2 .img1{
    margin-right: 30px;
}
.ourservice .s3 .img2{
    margin-right: 30px;
}
.ourservice .s4 .img3{
    margin-right: 30px;
}
.repair h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #232323;
}
.wall h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #232323;
}
.premium h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #232323;
}
.repair p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #232323;
    margin-bottom: 35px;
}
.wall p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #232323;
    margin-bottom: 35px;
}
.premium p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #232323;
}
.complete{
    background-image: url(../image/banner1.jpg);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 110px;
}
.complete .com1{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 80px;
}
.com1 h2{
    font-family: 'Open Sans', sans-serif;
    color: #ffff;
    font-size: 26px;
    font-weight: 400;
}
.com1 p{
    font-family: 'Open Sans', sans-serif;
    color: #ffff;
    font-size: 46px;
    font-weight: 700;
}

.complete .com2{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 60px;
}
.com2 h2{
    font-family: 'Open Sans', sans-serif;
    color: #ffff;
    font-size: 26px;
    font-weight: 400;
}
.com2 p{
    font-family: 'Open Sans', sans-serif;
    color: #ffff;
    font-size: 46px;
    font-weight: 700;
}

.complete .com3{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 60px;
}
.com3 h2{
    font-family: 'Open Sans', sans-serif;
    color: #ffff;
    font-size: 26px;
    font-weight: 400;
}
.com3 p{
    font-family: 'Open Sans', sans-serif;
    color: #ffff;
    font-size: 46px;
    font-weight: 700;
}
.complete .com4{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 60px;
}
.com4 h2{
    font-family: 'Open Sans', sans-serif;
    color: #ffff;
    font-size: 26px;
    font-weight: 400;
}
.com4 p{
    font-family: 'Open Sans', sans-serif;
    color: #ffff;
    font-size: 46px;
    font-weight: 700;
}
.section5 .what{
    max-width: 800px;
    height: auto;
    margin: auto;
    text-align: center;
    padding-top: 0px;
    margin-bottom: 70px;
}
.section5 .what h5{
    font-size: 18px;
    color: #232323;
    font-weight: 400;

}
.section5 .what h4{
    font-size: 36px;
    color: #252c30;
    font-weight: 700;
    margin-bottom: 35px;
}
.section5 .what h4 span{
    color: #f1b705;
}
.section5 .what p{
    font-size: 18px;
    color: #232323;
    font-weight: 400;
}
.maindiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}
.maindiv .div1{
    max-width: 370px;
    height: auto;
    margin: auto;  
    display: flex;
}
.maindiv .div1 .arc h4{
    font-size: 26px;
    color: #232323;
    font-weight: 700;
}
.maindiv .div1 .arc p{
    font-size: 16px;
    color: #232323;
    font-weight: 400;
}
.maindiv .div2{
    max-width: 370px;
    height: auto;
    margin: auto;  
    display: flex;
}
.maindiv .div2 .best h4{
    font-size: 26px;
    color: #232323;
    font-weight: 700;
}
.maindiv .div2 .best p{
    font-size: 16px;
    color: #232323;
    font-weight: 400;
}
.maindiv .div3{
    max-width: 370px;
    height: auto;
    margin: auto;  
    display: flex;
}
.maindiv .div3 .self h4{
    font-size: 26px;
    color: #232323;
    font-weight: 700;
}
.maindiv .div3 .self p{
    font-size: 16px;
    color: #232323;
    font-weight: 400;
}
.maindiv .div4{
    max-width: 370px;
    height: auto;
    margin: auto;  
    display: flex;
}
.maindiv .div4 .repair h4{
    font-size: 26px;
    color: #232323;
    font-weight: 700;
}
.maindiv .div4 .repair p{
    font-size: 16px;
    color: #232323;
    font-weight: 400;
}
.maindiv .div5{
    max-width: 370px;
    height: auto;
    margin: auto;
    display: flex;  
}
.maindiv .div5 .painting h4{
    font-size: 26px;
    color: #232323;
    font-weight: 700;
}
.maindiv .div5 .painting p{
    font-size: 16px;
    color: #232323;
    font-weight: 400;
}
.maindiv .div6{
    max-width: 370px;
    height: auto;
    margin: auto;
    display: flex;  
}
.maindiv .div6 .professional h4{
    font-size: 26px;
    color: #232323;
    font-weight: 700;
}
.maindiv .div6 .professional p{
    font-size: 16px;
    color: #232323;
    font-weight: 400;
}
.maindiv .img1, .img2, .img5, .img6{
    margin-right: 57px;
}
.maindiv .img3{
    margin-right: 42px;
}
.maindiv .img4{
    margin-right: 44px;
}
.section6 .view{
    max-width: 800px;
    height: auto;
    margin: auto;
    text-align: center;
    padding-top: 0px;
    margin-bottom: 70px;
}
.section6 .view h5{
    font-size: 18px;
    color: #232323;
    font-weight: 400;

}
.section6 .view h4{
    font-size: 36px;
    color: #252c30;
    font-weight: 700;
    margin-bottom: 35px;
}
.section6 .view h4 span{
    color: #f1b705;
}
.section6 .view p{
    font-size: 18px;
    color: #232323;
    font-weight: 400;
}
.section6 .menu{
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}
.section6 .menu ul li{
    display: inline-block;

}
.section6 .menu ul li a{
    text-decoration: none;
    margin-left: 35px; 
    font-size: 14px;
    font-weight: 700;
    color: #252c30;
}
.section6 .menu ul li a:hover{
    color: #f1b705;
}
.section6 .menu ul li .a1{
    color: #f1b705;
    font-size: 14px;
    font-weight: 700;
}
.section6 .picture{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}
.section7 .team{
    max-width: 800px;
    height: auto;
    margin: auto;
    text-align: center;
    padding-top: 0px;
    margin-bottom: 70px;
}
.section7 .team h5{
    font-size: 18px;
    color: #232323;
    font-weight: 400;

}
.section7 .team h4{
    font-size: 36px;
    color: #252c30;
    font-weight: 700;
    margin-bottom: 35px;
}
.section7 .team h4 span{
    color: #f1b705;
}
.section7 .team p{
    font-size: 18px;
    color: #232323;
    font-weight: 400;
    line-height: 30px;
}
.mentor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 120px;
}
.mentor .div1{
    width: 350px;
    height: 400px;
    background-color: #2d3e50;
   padding-top: 50px;
   padding-bottom: 50px;
   padding-left: 100px;
   padding-right: 60px;
   margin-right: 30px;
}
.mpic {
    margin: auto;
	margin-bottom: 35px;
}
.reid{
    text-align: center;
}
.reid h4{
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    margin-left: -29px;
}
.reid p{
    font-size: 14px;
    color: #ffc000;
    font-weight: 400;
    margin-left: -29px;
    margin-bottom: 30px;
}
.mentor .div1 .social {
	display: flex;
	margin: auto;
	margin-left: -21px;
}
 
 /* .social .facebook img{
    margin-r: 15px;
}  */
.social .twitter img{
    margin-left: 15px;
}
.social .google img{
    margin-left: 15px;
}
.social .instagram img{
    margin-left: 15px;
}
.mentor .div2{
    width: 350px;
    height: 400px;
    background-color: #2d3e50;
   padding-top: 50px;
   padding-bottom: 50px;
   padding-left: 100px;
   padding-right: 60px;
   margin-right: 30px;
}
.mpic1 {
    margin: auto;
	margin-bottom: 35px;
}
.marta{
    text-align: center;
}
.marta h4{
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    margin-left: -29px;
}
.marta p{
    font-size: 14px;
    color: #ffc000;
    font-weight: 400;
    margin-left: -29px;
    margin-bottom: 30px;
}
.mentor .div2 .social1 {
	display: flex;
	margin: auto;
	margin-left: -21px;
}
 
 /* .social .facebook img{
    margin-r: 15px;
}  */
.social1 .twitter img{
    margin-left: 15px;
}
.social1 .google img{
    margin-left: 15px;
}
.social1 .instagram img{
    margin-left: 15px;
}
.mentor .div3{
    width: 350px;
    height: 400px;
    background-color: #2d3e50;
   padding-top: 50px;
   padding-bottom: 50px;
   padding-left: 100px;
   padding-right: 60px;
}
.mpic2 {
    margin: auto;
	margin-bottom: 35px;
}
.robiul{
    text-align: center;
}
.robiul h4{
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    margin-left: -29px;
}
.robiul p{
    font-size: 14px;
    color: #ffc000;
    font-weight: 400;
    margin-left: -29px;
    margin-bottom: 30px;
}
.mentor .div3 .social2 {
	display: flex;
	margin: auto;
	margin-left: -21px;
}
 
 /* .social .facebook img{
    margin-r: 15px;
}  */
.social2 .twitter img{
    margin-left: 15px;
}
.social2 .google img{
    margin-left: 15px;
}
.social2 .instagram img{
    margin-left: 15px;
}
.section8{
    background-color: #f4f4f4;
    padding-top: 80px;
    padding-bottom: 75px;
}
.section8 .clinet{
    max-width: 800px;
    height: auto;
    margin: auto;
    text-align: center;
    padding-top: 0px;
    margin-bottom: 70px;
}
.section8 .clinet h5{
    font-size: 18px;
    color: #232323;
    font-weight: 400;
}
.section8 .clinet h4{
    font-size: 36px;
    color: #252c30;
    font-weight: 700;
    margin-bottom: 35px;
}
.section8 .clinet h4 span{
    color: #f1b705;
}
.section8 .clinet p{
    font-size: 18px;
    color: #232323;
    font-weight: 400;
}
.section8 .johndoe{
    max-width: 920px;
    height: 435px;
    background-color: #fff;
    margin: auto;
    border-radius: 30px;
}
.section8 .johndoe .pic {
	display: flex;
	flex-wrap: wrap;
	padding-top: 62px;
    margin-bottom: 29px;
}
.pic .john img{
    margin-left: 108px;
}
.para {
	max-width: 705px;
	height: 150px;
	margin-left: 143px;
}
.owner{
        margin-top: 54px;
}
.pic .owner h5{
    font-size: 18px;
    color: #2d3e50;
    font-weight: 700;
}
.pic .owner p{
    font-size: 16px;
    color: #56616es;
    font-weight: 700;
}
.section9{
    margin-bottom: 120px;
    margin-top: 75px;
}
.section9 .world{
    max-width: 800px;
    height: auto;
    margin: auto;
    text-align: center;
    padding-top: 0px;
    margin-bottom: 70px;
}
.section9 .world h5{
    font-size: 18px;
    color: #232323;
    font-weight: 400;
}
.section9 .world h4{
    font-size: 36px;
    color: #252c30;
    font-weight: 700;
    margin-bottom: 35px;
}
.section9 .world h4 span{
    color: #f1b705;
}
.section9 .world p{
    font-size: 18px;
    color: #232323;
    font-weight: 400;
}
.block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.block .div1, .div2{
    margin-right: 75px;
}
.block .div1 figcaption{
    max-width: 302px;
    height: 245px;
    background-color: #f1b705;
    text-align: center;
}
figcaption h5 {
	font-size: 18px;
	color: #fff;
	font-weight: 700;
	padding-top: 25px;
	margin-bottom: 28px;
	line-height: 30px;
}
figcaption p{
    font-size: 16px;
    color: #fff;
    font-weight: 400;

}
figcaption .p1 {
	font-size: 16px;
	color: #232323;
	font-weight: 400;
	position: relative;
	left: -110px;
	top: 9px;
}
figcaption a {
	color: #232323;
	text-decoration: none;
	font-weight: 400;
	position: relative;
	left: 88px;
	top: -28px;
}
.block .div2 .fig{
    max-width: 302px;
    height: 245px;
    background-color: #f1b705;
    text-align: center;
}
.fig h5 {
	font-size: 18px;
	color: #fff;
	font-weight: 700;
	padding-top: 25px;
	margin-bottom: 28px;
	line-height: 30px;
}
.fig p{
    font-size: 16px;
    color: #fff;
    font-weight: 400;

}
.fig .p1 {
	font-size: 16px;
	color: #232323;
	font-weight: 400;
	position: relative;
	left: -110px;
	top: 9px;
}
.fig a {
	color: #232323;
	text-decoration: none;
	font-weight: 400;
	position: relative;
	left: 88px;
	top: -28px;
}
.block .div3 .fig1{
    max-width: 302px;
    height: 245px;
    background-color: #f1b705;
    text-align: center;
}
.fig1 h5 {
	font-size: 18px;
	color: #fff;
	font-weight: 700;
	padding-top: 25px;
	margin-bottom: 28px;
	line-height: 30px;
}
.fig1 p{
    font-size: 16px;
    color: #fff;
    font-weight: 400;

}
.fig1 .p1 {
	font-size: 16px;
	color: #232323;
	font-weight: 400;
	position: relative;
	left: -110px;
	top: 9px;
}
.fig1 a {
	color: #232323;
	text-decoration: none;
	font-weight: 400;
	position: relative;
	left: 88px;
	top: -28px;
}
.section10{
    margin-bottom: 115px;
}
.section10 .miss{
    margin: auto;
    margin-bottom: 60px;
}
.section10 .miss h4{
    font-size: 24px;
	color: #0c0e37;
	font-weight: 700;
    text-align: center;
}
.section10 .box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.box .enter input {
	width: 325px;
	height: 65px;
	background-color: #f0f0f0;
	border-radius: 30px;
	box-shadow: -2px 1px 31px #f0f0f0;
	border: 1px solid #f0f0f0;
	padding-left: 30px;
	color: black;
	font-weight: 700;
}
.box .subscribe {
	width: 235px;
	height: 65px;
	background-color: #ffc000;
	text-align: center;
	border-radius: 40px;
	position: ;
	position: relative;
	left: -73px;
}
.box .subscribe a{
    text-decoration: none;
    line-height: 68px;
    color: white;
	font-size: 18px;
	font-weight: 700;
}
.section11{
    margin: auto;
    text-align: center;
    margin-bottom: 120px;
}
.section11 h1{
    font-size: 36px;
    font-weight: 700;
    color: blue;
}

@media (max-width: 1440px){
    .phone p {
        margin-right: -12px;
    }
    .navbar-brand {
        margin-left: 55px;
    }
}

@media (max-width: 768px){
    .phone p {
        padding-top: 10px;
    }
    .navbar-brand {
        margin-left: 25px;
    }
    .carousel-caption {
        margin-bottom: 22px;
    }
    .carousel-caption h2 {
        font-size: 49px;
    }
    .carousel-caption p {
        width: 487px;
        font-size: 14px;
    }
    .carousel-caption a {
        width: 230px;
        font-size: 16px;
        height: 55px;
    }
    .planning .div1 {
        margin-bottom: 20px;
    }
    .planning .div2 {
        margin-bottom: 20px;
    }

    .complete .com1 {
        padding-right: 10px;
        padding-left: 18px;
    }
    .complete .com2 {
        padding-right: 40px;
    }
    .complete .com3 {
        padding-right: 40px;
    }
    .complete .com4 {
        padding-right: 40px;
    }
    .com1 h2 {
        font-size: 20px;
    }
    .com1 p {
        font-size: 30px;
    }
    .com2 h2 {
        font-size: 20px;
    }
    .com2 p {
        font-size: 30px;
    }
    .com3 h2 {
        font-size: 20px;
    }
    .com3 p {
        font-size: 30px;
    }
    .com4 h2 {
        font-size: 20px;
    }
    .com4 p {
        font-size: 30px;
    }
    .row {
        margin-bottom: 20px;
    }
    .complete {
        margin-bottom: 37px;
    }
    .section6 .menu {
        margin-right: 70px;
    }
    .section6 .picture {
        flex-wrap: wrap;
    }
    .section7 .team p {
        width: 680px;
        margin: auto;
    }
    .mentor .div1 {
        margin-bottom: 10px;
    }
    .mentor .div2 {
        margin-right: 4px;
        margin-top: -8px;
    }
    .block .div1, .div2 {
        margin-right: 38px;
    }
    .section8 .johndoe .pic {
        margin-left: -41px;
    }
    .para {
        width: 551px;
        margin-left: 106px;
    }
    .ourservice .s1 {
        margin-top: 22px;
    }
    .maindiv .div1 {
        margin-right: -44px;
    }
    .maindiv .img1, .img2, .img5, .img6 {
        margin-right: 39px;
    }
    .maindiv .div3 {
        margin-right: -44px;
    }
    .maindiv .img3 {
        margin-right: 26px;
        margin-left: -7px;
    }
    .maindiv .img4 {
        margin-right: 26px;
    }
    .maindiv .div4 {
        position: relative;
        top: 14px;
    }
    .maindiv .div5 {
        margin-right: -44px;
    }
    .maindiv .img1, .img2, .img5, .img6 {
        margin-right: 31px;
    }
}
@media (max-width: 401px){
    .email p {
        margin-left: -87px;
    }
    
    .email i {
        margin-right: 10px;
    }
    .phone p {
        margin-right: -84px;
    }
    .navbar-brand {
        margin-left: -88px;
    }
    .navbar-light .navbar-toggler {
        color: rgba(255, 255, 255, 0);
        border-color: rgba(0,0,0,0);
    }
    .navbar-light .navbar-toggler-icon {
        margin-right: -157px;
    }
    .section2 .weoffer h4 {
        font-size: 32px;
    }
    .planning .div1 {
        margin-right: 54px;
    }
    .planning .div2 {
        margin-right: 54px;
    }
    .planning .div3 {
        margin-right: 54px;
    }
    .planning .div4 {
        margin-right: 54px;
        margin-top: 20px;
    }
    .section5 .what h4 {
        font-size: 31px;
    }
    .maindiv .div1 {
        margin-right: -11px;
    }
    .maindiv .div2 {
        margin-right: -13px;
    }
    .maindiv .div3 {
        margin-right: -11px;
    }
    .maindiv .div4 {
        top: 8px;
    }
    .maindiv .div5 {
        margin-right: -2px;
        position: relative;
        top: 15px;
    }
    .maindiv .div6 {
        position: relative;
        top: 22px;
        margin-right: -1px;
    }
    .section6 .view h4 {
        font-size: 27px;
    }
    .section6 .menu ul li a {
        margin-left: 21px;
    }
    .menu ul{
        margin-left: 51px;
    }
    .section6 .menu ul li {
        margin-bottom: 10px;
    }
    .section7 .team p {
        width: 376px;
    }
    .mentor .div1{
        margin-left: 23px;
    }
    .mentor .div2 {
        margin-bottom: 10px;
        margin-top: 3px;
    }
    .mentor .div3 {
        margin-left: -3px;
    }
    .section8 .johndoe .pic {
        margin-left: -81px;
        position: relative;
        top: -42px;
    }
    .para {
        width: 304px;
        margin-left: 68px;
        margin-top: -73px;
    }
    .section9 .world h4 {
        font-size: 28px;
    }
    .block .div1, .div2 {
        margin-right: 1px;
    }
    .box .enter input {
        width: 260px;
        padding-left: 13px;
    }
    .section10 .box {
        position: relative;
        left: 19px;
    }




    .complete .com1{
        padding-right: 10px;
        padding-top: 85px;
    }
    .complete .com2{
        padding-right: 10px;
        padding-top: 85px;
    }
    .complete .com3{
        padding-right: 10px;
        padding-top: 85px;
    }
    .complete .com4{
        padding-right: 10px;
        padding-top: 85px;
    }
    .com1 h2{
        font-size: 10px;
    }
    .com1 p{
        font-size: 15px;
    }
    .com2 h2{
        font-size: 10px;
    }
    .com2 p{
        font-size: 15px;
    }
    .com3 h2{
        font-size: 10px;
    }
    .com3 p{
        font-size: 15px;
    }
    .com4 h2{
        font-size: 10px;
    }
    .com4 p{
        font-size: 15px;
    }
    .complete {
        margin-bottom: 10px;
        margin-top: -42px;
    }
    .ourservice .s1 {
        margin-bottom: 25px;
        margin-top: 20px;
    }
    .repair h2 {
        font-size: 13px;
    }
    .repair p {
        font-size: 12px;
    }
    .ourservice .s2 {
        margin-bottom: 25px;
        margin-top: 20px;
    }
    .wall h2 {
        font-size: 13px;
    }
    .wall p {
        font-size: 12px;
    }
    .ourservice .s3 {
        margin-bottom: 25px;
        margin-top: 20px;
    }
    .premium h2 {
        font-size: 13px;
    }
    .premium p {
        font-size: 12px;
    }
    .repair p {
        margin-bottom: 14px;
    }
    .wall p {
        margin-bottom: 14px;
    }
    .premium p {
        margin-bottom: 14px;
    }
}
